<div class="wrapper">
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-left-menu></app-left-menu>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Company Visit Entry Update
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/company-list"><i class="fa fa-circle-o"></i> Copany Visited List</a></li>
        <li class="active">Company Visit Entry Update</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 border border-primary">
               <div class="box-header with-border">

            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form #companyUpdateForm = "ngForm" (ngSubmit)="update(companyUpdateForm, $event)" class="form-inline">
              <div class="box-body">
                <div
                  class="form-group custom-col-md-4"
                  [class.has-warning]="responseError?.name ? true: false" [class.has-feedback]="responseError?.name ? true: false">
                  <label for="name">Name</label>
                  <input [(ngModel)]="name" required type="text" class="form-control"  name="name" id="name" placeholder="Name">
                  <span *ngIf="responseError?.name" class="glyphicon glyphicon-warning-sign error-sign"></span>
                </div>
                <div
                  class="form-group custom-col-md-4"
                  [class.has-warning]="responseError?.address ? true: false" [class.has-feedback]="responseError?.address ? true: false">
                  <label for="address">Address</label>
                  <input required type="text" class="form-control" [(ngModel)]="address" name="address" id="address" placeholder="Address">
                  <span *ngIf="responseError?.address" class="glyphicon glyphicon-warning-sign error-sign"></span>
                </div>
                <div
                  class="form-group custom-col-md-4"
                  [class.has-warning]="responseError?.outcome ? true: false" [class.has-feedback]="responseError?.outcome ? true: false">
                  <label for="outcome">Outcome</label>
                  <input required type="text" class="form-control" [(ngModel)]="outcome" name="outcome" id="outcome" placeholder="Outcome">
                  <span *ngIf="responseError?.outcome" class="glyphicon glyphicon-warning-sign error-sign"></span>
                </div>
              <button type="submit" class="btn btn-primary">Update</button>
              </div>
              <!-- /.box-body -->
            </form>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->
