
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Create
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Data Create</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                  <label for="defaultDate">Date</label>
                  <input type="text" id="defaultDate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="form_type">Similar Type</label>
                  <input type="text" id="form_type" class="form-control" placeholder="Similar type" name="form_type"
                         [(ngModel)]="form_type">
                  <button type="button" class="btn btn-sm" (click)="copyForm($event)"><i class="fa fa-plus"></i>
                  </button>
                </div>
              </form>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body" *ngFor="let fields of workPlan; let i = index">
            <form>
                <h3>{{ form_type | titlecase }}</h3>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.path ? true: false" [class.has-feedback]="responseError?.path ? true: false">
                  <label for="path">Path</label>
                  <input type="text"
                         name="path"
                         [(ngModel)]="fields.path"
                         id="inputPath"
                         class="form-control"
                         placeholder="Path">
                  <div class="error-message" *ngIf="responseError?.path">{{responseError?.path}}</div>

                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.name_of_activity ? true: false" [class.has-feedback]="responseError?.name_of_activity ? true: false">
                  <label for="name_of_activity">Name of activity</label>
                  <input type="text"
                         name="name_of_activity"
                         [(ngModel)]="fields.name_of_activity"
                         id="inputname_of_activity"
                         class="form-control"
                         placeholder="Name of activity">
                  <div class="error-message" *ngIf="responseError?.name_of_activity">{{responseError?.name_of_activity}}</div>

                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.description ? true: false" [class.has-feedback]="responseError?.description ? true: false">
                  <label for="remarks">Description</label>
                  <input type="text"
                         name="description"
                         [(ngModel)]="fields.description"
                         id="description"
                         class="form-control"
                         placeholder="Description">
                  <div class="error-message" *ngIf="responseError?.description">{{responseError?.description}}</div>

                </div>
              <button type="button" class="btn btn-primary form_submit"
                      (click)="onFormSubmit(fields, similarTypes[i])">Submit
              </button>
            </form>
              </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
