  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Month wise view
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Month wise view</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary padding-md" style="padding:10px">
                 <form class="form-inline" (ngSubmit)="onDataFilterFormSubmit()">
                    <div class="form-group">
                      <label for="from_date">From Date:&nbsp;&nbsp;</label>
                      <input id="from_date" class="form-control" name="from_date" [(ngModel)]="selectedFromDate" matInput [matDatepicker]="from_date">
                        <mat-datepicker-toggle matSuffix [for]="from_date" dateFormat="DD-MM-YYYY"></mat-datepicker-toggle>
                        <mat-datepicker #from_date></mat-datepicker>
                    </div>
                    <div class="form-group">
                      <label for="to_date">To Date: &nbsp;&nbsp;</label>
                      <input id="to_date" name="to_date" class="form-control" [(ngModel)]="selectedToDate" matInput [matDatepicker]="to_date" placeholder="To Date:">
                      <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                      <mat-datepicker #to_date></mat-datepicker>
                    </div>
                    <div class="form-group">
                      <label style="padding-top:10px">Labourattache:&nbsp;&nbsp;</label>
                      <select id="labourattache" class="form-control" [(ngModel)]="selectedLabourattch" name="labourattache" id="labourattache">
                        <option value="" selected>Select Labourattache</option>
                        <option *ngFor="let labourattacheList of labourattacheListResponse" [value]="labourattacheList.id">{{labourattacheList.first_name}} {{labourattacheList.last_name}}({{labourattacheList.assigned_country.country_name}})</option>
                      </select>
                    </div>                    
                    <button style="margin-top:5px;margin-left:5px;" type="submit" (click)="onDataFilterFormSubmit()" class="btn btn-default">Submit</button>
                    <button style="margin-top:5px;margin-left:5px;" type="submit" (click)="onDataFilterFormExport()" class="btn btn-default">Export</button>
                  </form>
                </div>
            </div>
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">

            </div>
            <!-- /.box-header -->
            <div class="dataTables_wrapper">

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#menu0" (click)="getTabdata('visit', selectedFromDate, selectedToDate, selectedLabourattch)">Visit</a></li>
                <li><a data-toggle="tab" href="#menu1" (click)="getTabdata('activity', selectedFromDate, selectedToDate, selectedLabourattch)">Activity</a></li>
                <li><a data-toggle="tab" href="#menu2" (click)="getTabdata('assistance', selectedFromDate, selectedToDate, selectedLabourattch)">Assistance provide</a></li>
                <li><a data-toggle="tab" href="#menu3" (click)="getTabdata('complain', selectedFromDate, selectedToDate, selectedLabourattch)">Query Complain</a></li>
                <li><a data-toggle="tab" href="#menu4" (click)="getTabdata('issue', selectedFromDate, selectedToDate, selectedLabourattch)">Issues</a></li>
                <li><a data-toggle="tab" href="#menu5" (click)="getTabdata('resolved', selectedFromDate, selectedToDate, selectedLabourattch)">Resolved</a></li>
                <li><a data-toggle="tab" href="#menu6" (click)="getTabdata('finance', selectedFromDate, selectedToDate, selectedLabourattch)">Finance</a></li>
              </ul>

              <div class="tab-content">
                <!--<div class="tab-pane fade in active" ngFor="cons listData of visitData">-->
                  <div id="menu0" class="tab-pane fade in active">
                    <div *ngIf="companyVisitData">
                      <h3>Company</h3>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Outcome</th>
                            <th>No of Bangladeshis</th>
                            <th>
                              <span class="pull-right">Action</span>
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--apiData-->
                          <tr *ngFor="let tablelist of companyVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                            <td>{{ tablelist.date }}</td>
                            <td>{{ tablelist.name }}</td>
                            <td>{{ tablelist.address }}</td>
                            <td>{{ tablelist.outcome }}</td>
                            <td>{{ tablelist.no_of_bangladeshis}}</td>
                            <td class="pull-right">
                              <a routerLink="/company-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div *ngIf="residenceVisitData">
                      <h3>Residence</h3>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Outcome</th>
                            <th>No of Bangladeshis</th>
                            <th>
                              <span class="pull-right">Action</span></th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--apiData-->
                          <tr *ngFor="let tablelist of residenceVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                            <td>{{ tablelist.date }}</td>
                            <td>{{ tablelist.name }}</td>
                            <td>{{ tablelist.address }}</td>
                            <td>{{ tablelist.outcome }}</td>
                            <td> {{ tablelist.no_of_bangladeshis }}</td>
                            <td class="pull-right">
                              <a routerLink="/residence-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div *ngIf="deportationcenterVisitData">
                      <h3>Deportation Center</h3>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Outcome</th>
                            <th>No of Bangladeshis</th>
                            <th>
                              <span class="pull-right">Action</span></th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--apiData-->
                          <tr *ngFor="let tablelist of deportationcenterVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                            <td>{{ tablelist.date }}</td>
                            <td>{{ tablelist.name }}</td>
                            <td>{{ tablelist.address }}</td>
                            <td>{{ tablelist.outcome }}</td>
                            <td>{{ tablelist.no_of_bangladeshis }}</td>
                            <td class="pull-right">
                              <a routerLink="/deportationcenter-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div *ngIf="jailVisitData">
                      <h3>Jail</h3>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Outcome</th>
                            <th>No of Bangladeshis</th>
                            <th>
                              <span class="pull-right">Action</span></th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--apiData-->
                          <tr *ngFor="let tablelist of jailVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                            <td>{{ tablelist.date }}</td>
                            <td>{{ tablelist.name }}</td>
                            <td>{{ tablelist.address }}</td>
                            <td>{{ tablelist.outcome }}</td>
                            <td>{{tablelist.no_of_bangladeshis}}</td>
                            <td class="pull-right">
                              <a routerLink="/jail-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div *ngIf="migrantshelterVisitData">
                      <h3>Migrant Shelter</h3>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Outcome</th>
                            <th>
                              <span class="pull-right">Action</span></th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--apiData-->
                          <tr *ngFor="let tablelist of migrantshelterVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                            <td>{{ tablelist.date }}</td>
                            <td>{{ tablelist.name }}</td>
                            <td>{{ tablelist.address }}</td>
                            <td>{{ tablelist.outcome }}</td>
                            <td class="pull-right">
                              <a routerLink="/migrantshelter-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <div *ngIf="attestationVisitData">
                    <h3>Attestation</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Name of Activity</th>
                          <th>Description</th>
                          <th>Type</th>
                          <th>
                            <span class="pull-right">Action</span>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of attestationVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.name_of_activity }}</td>
                          <td>{{ tablelist.description }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td class="pull-right">
                            <a routerLink="/attestation-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div *ngIf="wrokplaneVisitData">
                    <h3>Wrokplane</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Name of Activity</th>
                          <th>Description</th>
                          <th>Type</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of wrokplaneVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.name_of_activity }}</td>
                          <td>{{ tablelist.description }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td class="pull-right">
                            <a routerLink="/wrokplane-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="gestentertainmentVisitData">
                    <h3>Gest Entertainment</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Total Number</th>
                          <th>Purpose</th>
                          <th>Type</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of gestentertainmentVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.total_number }}</td>
                          <td>{{ tablelist.purpose }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td class="pull-right">
                            <a routerLink="/gestentertainment-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="liaisonwithexpatriatesVisitData">
                    <h3>Liaison with Expatriates</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Number of Meeting Held</th>
                          <th>Outcome</th>
                          <th>Type</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of liaisonwithexpatriatesVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.number_of_meeting_held }}</td>
                          <td>{{ tablelist.outcome }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td class="pull-right">
                            <a routerLink="/liaisonwithexpatriates-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="otheractivityVisitData">
                    <h3>Other Activity</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Activity</th>
                          <th>Remarks</th>
                          <th>Type</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of otheractivityVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.activity }}</td>
                          <td>{{ tablelist.remarks }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td class="pull-right">
                            <a routerLink="/otheractivity-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div id="menu2" class="tab-pane fade">
                  <div *ngIf="generalassistanceVisitData">
                    <h3>General Assistance</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Issue</th>
                          <th>Action Taken</th>
                          <th>
                            <span class="pull-right">Action</span>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of generalassistanceVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.name }}</td>
                          <td>{{ tablelist.address }}</td>
                          <td>{{ tablelist.issue }}</td>
                          <td>{{ tablelist.action_taken }}</td>
                          <td class="pull-right">
                            <a routerLink="/generalassistance-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="legalassistanceVisitData">
                    <h3>Legal Assistance</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Legal Issue</th>
                          <th>Assistance Provided</th>

                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of legalassistanceVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.name }}</td>
                          <td>{{ tablelist.address }}</td>
                          <td>{{ tablelist.legal_issue }}</td>
                          <td>{{ tablelist.assistance_provided}}</td>
                          <td class="pull-right">
                            <a routerLink="/legalassistance-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>                  
                </div>

                <div id="menu3" class="tab-pane fade">
                  <div *ngIf="queryreceivedVisitData">
                    <h3>Query Received</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Details of Person</th>
                          <th>Nature of Query</th>
                          <th>Action Taken</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of queryreceivedVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.details_of_person }}</td>
                          <td>{{ tablelist.nature_of_query }}</td>
                          <td>{{ tablelist.action_taken }}</td>
                          <td class="pull-right">
                            <a routerLink="/queryreceived-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="complaintsVisitData">
                    <h3>Complaints</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Total Number</th>
                          <th>Outcome</th>
                          <th>Type</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of complaintsVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.total_number }}</td>
                          <td>{{ tablelist.action_taken }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td class="pull-right">
                            <a routerLink="/complaints-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="tradequeryVisitData">
                    <h3>Trade Query</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Number of Trade</th>
                          <th>Type of Query</th>
                          <th>Remarks</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of tradequeryVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.number_of_trade }}</td>
                          <td>{{ tablelist.Type_of_query }}</td>
                          <td>{{ tablelist.remarks }}</td>
                          <td class="pull-right">
                            <a routerLink="/tradequery-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div id="menu4" class="tab-pane fade">
                  <div *ngIf="meetingVisitData">
                    <h3>Meeting </h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>name</th>
                          <th>Organization</th>
                          <th>Issue Discussed</th>
                          <th>Outcome</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of meetingVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.name }}</td>
                          <td>{{ tablelist.organization }}</td>
                          <td>{{ tablelist.issue_discussed }}</td>
                          <td>{{ tablelist.outcome }}</td>
                          <td class="pull-right">
                            <a routerLink="/meeting-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="conferanceVisitData">
                    <h3>Conferance</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Details Conferance</th>
                          <th>Topic</th>
                          <th>Outcome</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of conferanceVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.details_conferance }}</td>
                          <td>{{ tablelist.topic }}</td>
                          <td>{{ tablelist.outcome }}</td>
                          <td class="pull-right">
                            <a routerLink="/conferance-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>                 
                </div>

                <div id="menu5" class="tab-pane fade">
                  <div *ngIf="arbitrationanddisputesVisitData">
                    <h3>Arbitration and Disputes</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Arbitrationanddisputes Type</th>
                          <th>Total Number</th>
                          <th>Resolved Case</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of arbitrationanddisputesVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.type }}</td>
                          <td>{{ tablelist.total_number }}</td>
                          <td>{{ tablelist.resolved_case }}</td>
                          <td class="pull-right">
                            <a routerLink="/arbitrationanddisputes-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div *ngIf="arrearpayVisitData">
                    <h3>Issues</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Person Concern Type</th>
                          <th>Total Number</th>
                          <th>Number of Case Resolved</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of arrearpayVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.person_concern_type }}</td>
                          <td>{{ tablelist.total_number }}</td>
                          <td>{{ tablelist.number_of_case_resolved }}</td>
                          <td class="pull-right">
                            <a routerLink="/arrearpay-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                  <div *ngIf="compensationVisitData">
                    <h3>Compensation</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>compensation_type</th>
                          <th>Number</th>
                          <th>Details</th>
                          <th>Amount</th>
                          <th>Pending Since</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of compensationVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.compensation_type }}</td>
                          <td>{{ tablelist.number }}</td>
                          <td>{{ tablelist.details }}</td>
                          <td>{{ tablelist.amount }}</td>
                          <td>{{ tablelist.pending_since }}</td>
                          <td class="pull-right">
                            <a routerLink="/compensation-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                  <div *ngIf="deadbodyrepatriationVisitData">
                    <h3>Deadbodyrepatriation</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Name</th>
                          <th>Number</th>
                          <th>Cause of Death</th>
                          <th>Action Taken</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of deadbodyrepatriationVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.name }}</td>
                          <td>{{ tablelist.number }}</td>
                          <td>{{ tablelist.cause_of_death }}</td>
                          <td>{{ tablelist.action_taken }}</td>
                          <td class="pull-right">
                            <a routerLink="/deadbodyrepatriation-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div *ngIf="deathordisabilityVisitData">
                    <h3>Deathordisability</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Category</th>
                          <th>Number</th>
                          <th>Present Status</th>
                          <th>remarks</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of deathordisabilityVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.category }}</td>
                          <td>{{ tablelist.number }}</td>
                          <td>{{ tablelist.present_status }}</td>
                          <td>{{ tablelist.remarks }}</td>
                          <td class="pull-right">
                            <a routerLink="/deathordisability-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="monthlyproblemresolvedVisitData">
                    <h3>Monthly Problem Resolved</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Type of Problem</th>
                          <th>Total Number</th>
                          <th>Present Status</th>
                          <th>remarks</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of monthlyproblemresolvedVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.type_of_problem }}</td>
                          <td>{{ tablelist.total_number }}</td>
                          <td class="pull-right">
                            <a routerLink="/monthlyproblemresolved-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="remitfcVisitData">
                    <h3>Remit FC</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>remit_type</th>
                          <th>No</th>
                          <th>Outcome</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of remitfcVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.remit_type }}</td>
                          <td>{{ tablelist.no }}</td>
                          <td>{{ tablelist.outcome}}</td>
                          <td class="pull-right">
                            <a routerLink="/remitfc-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="termsandconditionserviceVisitData">
                    <h3>Terms and Condition Service</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Places Visited</th>
                          <th>Number of Verified</th>
                          <th>Action Taken</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of termsandconditionserviceVisitData; let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.places_visited }}</td>
                          <td>{{ tablelist.number_of_verified }}</td>
                          <td>{{ tablelist.action_taken}}</td>
                          <td class="pull-right">
                            <a routerLink="/termsandconditionservice-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div id="menu6" class="tab-pane fade">
                  <div *ngFor="let list of remittanceandwelfarefundVisitData;">
                   <h3>Remittance and Welfare Fund</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Previous Balance</th>
                          <th>Lastmonth Income</th>
                          <th>Amount of Remittance</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of remittanceandwelfarefundVisitData;let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.previous_balance }}</td>
                          <td>{{ tablelist.lastmonth_income }}</td>
                          <td>{{ tablelist.amount_of_remittance }}</td>
                          <td class="pull-right">
                            <a routerLink="/remittanceandwelfarefund-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngFor="let list of budgetVisitData;">                    
                    <h3>Budget</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Budget Type</th>
                          <th>Opening Balance</th>
                          <th>Closing Balance</th>
                          <th>Total Expenditure</th>
                          <th>
                            <span class="pull-right">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--apiData-->
                        <tr *ngFor="let tablelist of budgetVisitData;let i = index" id="row_id_{{ tablelist.id }}">
                          <td>{{ tablelist.date }}</td>
                          <td>{{ tablelist.budget_type }}</td>
                          <td>{{ tablelist.opening_balance }}</td>
                          <td>{{ tablelist.closing_balance }}</td>
                          <td>{{ tablelist.total_expenditure}}</td>
                          <td class="pull-right">
                            <a routerLink="/budget-update/{{tablelist.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!-- ./wrapper -->
