
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Update
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Data Update</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">

            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form #guEUpdateForm = "ngForm" (ngSubmit)="update(guEUpdateForm, $event)">
              <div class="box-body">
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.action_taken ? true: false" [class.has-feedback]="responseError?.action_taken ? true: false">
                  <label for="action_taken">Action taken</label>
                  <input type="text"
                         name="action_taken"
                         id="inputRemitType"
                         [(ngModel)]="action_taken"
                         class="form-control"
                         placeholder="Action taken">
                  <div class="error-message" *ngIf="responseError?.action_taken">{{responseError?.action_taken}}</div>
                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.amount ? true: false" [class.has-feedback]="responseError?.amount ? true: false">
                  <label for="amount">amount</label>
                  <input type="text"
                         name="amount"
                         id="inputNo"
                         [(ngModel)]="amount"
                         class="form-control"
                         placeholder="amount">
                  <div class="error-message" *ngIf="responseError?.amount">{{responseError?.amount}}</div>
                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.compensation_type ? true: false" [class.has-feedback]="responseError?.compensation_type ? true: false">
                  <label for="compensation_type">Compensation type</label>
                  <input type="text"
                         name="compensation_type"
                         id="inputOutcome"
                         class="form-control"
                         [(ngModel)]="compensation_type"
                         placeholder="Compensation type">
                  <div class="error-message" *ngIf="responseError?.compensation_type">{{responseError?.compensation_type}}</div>
                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.details ? true: false" [class.has-feedback]="responseError?.details ? true: false">
                  <label for="details">Details</label>
                  <input type="text"
                         name="details"
                         id="inputRemitType"
                         [(ngModel)]="details"
                         class="form-control"
                         placeholder="Details">
                  <div class="error-message" *ngIf="responseError?.details">{{responseError?.details}}</div>
                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.number ? true: false" [class.has-feedback]="responseError?.number ? true: false">
                  <label for="number">Number</label>
                  <input type="text"
                         name="number"
                         id="inputNo"
                         [(ngModel)]="number"
                         class="form-control"
                         placeholder="Number">
                  <div class="error-message" *ngIf="responseError?.number">{{responseError?.number}}</div>
                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.pending_since ? true: false" [class.has-feedback]="responseError?.pending_since ? true: false">
                  <label for="pending_since">Pending since</label>
                  <input type="text"
                         name="pending_since"
                         id="inputOutcome"
                         class="form-control"
                         [(ngModel)]="pending_since"
                         placeholder="Pending since">
                  <div class="error-message" *ngIf="responseError?.pending_since">{{responseError?.pending_since}}</div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
