<div class="wrapper">
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-left-menu></app-left-menu>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        New Residence Visit Entry
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/residence-list"><i class="fa fa-circle-o"></i> Residence Visited List</a></li>
        <li class="active">New Residence Visit Entry </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                  <label for="email">Date</label>
                  <input type="text" id="defaultDate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="Similar_Type">Similar Type</label>
                  <input type="text" id="form_type" class="form-control" placeholder="Similar type" name="form_type" [(ngModel)]="form_type">
                  <button type="button" class="btn btn-sm" (click)="copyForm($event)"><i class="fa fa-plus"></i></button>
                </div>
              </form>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body" *ngFor="let fields of residences; let i = index">
                <div class="box-header">{{ similarTypes[i] | titlecase  }}</div>
                <form class="form-inline">
                  <div
                    class="form-group custom-col-md-4"
                    [class.has-warning]="responseError?.name ? true: false" [class.has-feedback]="responseError?.name ? true: false">
                    <label for="name">Name</label>
                    <input type="text"
                           name="fields.name"
                           [(ngModel)] = "fields.name"
                           class="form-control"
                           placeholder="Name">
                    <span *ngIf="responseError?.name" class="glyphicon glyphicon-warning-sign error-sign"></span>
                  </div>
                  <div
                    class="form-group custom-col-md-4"
                    [class.has-warning]="responseError?.address ? true: false" [class.has-feedback]="responseError?.address ? true: false">
                    <label for="address">Address</label>
                    <input type="text"
                           name="fields.address"
                           [(ngModel)] = "fields.address"
                           class="form-control"
                           placeholder="Address">
                    <span *ngIf="responseError?.address" class="glyphicon glyphicon-warning-sign error-sign"></span>
                  </div>
                  <div
                    class="form-group custom-col-md-4"
                    [class.has-warning]="responseError?.outcome ? true: false" [class.has-feedback]="responseError?.outcome ? true: false">
                    <label for="outcome">Outcome</label>
                    <input type="text"
                           name="outcome"
                           [(ngModel)] = "fields.outcome"
                           class="form-control"
                           placeholder="Outcome">
                    <span *ngIf="responseError?.outcome" class="glyphicon glyphicon-warning-sign error-sign"></span>
                  </div>
                  <button type="button" class="btn btn-primary form_submit" (click)="onFormSubmit(fields, similarTypes[i])">Submit</button>
                </form>
              </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box-body no-padding">
            <table id="residence_list" class="table table-striped display" style="width:100%">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Outcome</th>
                <th>Type</th>
                <th class="pull-right">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let Residence of feedbackData; index as sln" id="row_id_{{ Residence.id }}">
                <td>{{ sln+1 }}</td>
                <td>{{ Residence.name }}</td>
                <td>{{ Residence.address }}</td>
                <td>{{ Residence.outcome }}</td>
                <td>{{ Residence.type }}</td>
                <td class="pull-right">
                  <a routerLink="/residence-update/{{Residence.id}}" type="button" class="btn bg-orange"><i class="fa fa-pencil margin-r-5"></i></a>&nbsp;
                  <button [swal]="deleteSwal"
                          type="button" class="btn bg-red">
                    <i class="fa fa-minus"></i></button>
                  <swal
                    #deleteSwal
                    title="Confirm Delete?"
                    text="This cannot be undone"
                    type="question"
                    [showCancelButton]="true"
                    [focusCancel]="true"
                    (confirm)="delete(Residence.id)"
                  >
                  </swal>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Outcome</th>
                <th>Type</th>
                <th class="pull-right">Action</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->
