
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Create
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Data Create</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                  <label for="email">Date</label>
                  <input type="text" id="defaultDate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="Similar_Type">Similar Type</label>
                  <input type="text" id="form_type" class="form-control" placeholder="Similar type" name="form_type"
                         [(ngModel)]="form_type">
                  <button type="button" class="btn btn-sm" (click)="copyForm($event)"><i class="fa fa-plus"></i>
                  </button>
                </div>
              </form>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body" *ngFor="let fields of otherActivity; let i = index">
              <h3>{{ form_type | titlecase }}</h3>
              <form>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.activity ? true: false"
                  [class.has-feedback]="responseError?.activity ? true: false">
                  <label for="activity">Activity</label>
                  <input type="text"
                         name="activity"
                         [(ngModel)]="fields.activity"
                         id="inputActivity"
                         class="form-control"
                         placeholder="Activity">
                  <div class="error-message" *ngIf="responseError?.activity">{{responseError?.activity}}</div>

                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.remarks ? true: false"
                  [class.has-feedback]="responseError?.remarks ? true: false">
                  <label for="remarks">Remarks</label>
                  <input type="text"
                         name="remarks"
                         [(ngModel)]="fields.remarks"
                         id="remarks"
                         class="form-control"
                         placeholder="Remarks">
                  <div class="error-message" *ngIf="responseError?.remarks">{{responseError?.remarks}}</div>

                </div>
                <button type="button" class="btn btn-primary form_submit"
                        (click)="onFormSubmit(fields, similarTypes[i])">Submit
                </button>
                <!-- /.box-body -->
              </form>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
