  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Attestation Activity Update
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/attestation-list"><i class="fa circle-o"></i> New Attestation Activity Entry </a></li>
        <li class="active">Attestation Activity Update</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="col-md-6">
              <div class="box box-primary">
                <div class="box-header with-border">

                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form #guEUpdateForm = "ngForm" (ngSubmit)="update(guEUpdateForm, $event)">
                  <div class="box-body">
                    <div
                      class="form-group"
                      [class.has-warning]="responseError?.name_of_activity ? true: false" [class.has-feedback]="responseError?.name_of_activity ? true: false">
                      <label for="name_of_activity">Name of activity</label>
                      <input type="text"
                             name="name_of_activity"
                             id="inputNameOfActivity"
                             [(ngModel)]="name_of_activity"
                             class="form-control"
                             placeholder="Name of activity">
                      <div class="error-message" *ngIf="responseError?.name_of_activity">{{responseError?.name_of_activity}}</div>
                    </div>
                    <div
                      class="form-group"
                      [class.has-warning]="responseError?.description ? true: false" [class.has-feedback]="responseError?.description ? true: false">
                      <label for="description">Description</label>
                      <input type="text"
                             name="description"
                             id="inputDescription"
                             [(ngModel)]="description"
                             class="form-control"
                             placeholder="Description">
                      <div class="error-message" *ngIf="responseError?.description">{{responseError?.description}}</div>
                    </div>
                    <div
                      class="form-group custom-col-md-12"
                      [class.has-warning]="responseError?.date ? true: false" [class.has-feedback]="responseError?.date ? true: false">
                      <label for="date">Date</label>
                      <input required type="text" class="form-control" [(ngModel)]="date" name="date" id="date" placeholder="Date">
                      <span *ngIf="responseError?.date" class="glyphicon glyphicon-warning-sign error-sign"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                  <!-- /.box-body -->
                </form>
              </div>
              </div>
              </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
