  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Update
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">User Update</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">

            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form #userUpdateForm = "ngForm" (ngSubmit)="updateUser(userUpdateForm, $event)"  role="form">
              <div class="box-body"
                   [class.has-warning]="responseError?.first_name ? true: false"
                   [class.has-feedback]="responseError?.first_name ? true: false">
                <div class="form-group">
                  <label for="exampleInputEmail1">First Name</label>
                  <input [(ngModel)]="first_name" required type="text" class="form-control"  name="first_name" id="first_name" placeholder="First Name">
                  <div class="alert alert-danger" *ngIf="responseError?.first_name">{{responseError?.first_name}}</div>
                </div>
                <div class="form-group"
                     [class.has-warning]="responseError?.last_name ? true: false"
                     [class.has-feedback]="responseError?.last_name ? true: false">
                  <label for="exampleInputEmail1">Last Name</label>
                  <input required type="text" class="form-control" [(ngModel)]="last_name" name="last_name" id="last_name" placeholder="Last Name">
                  <div class="alert alert-danger" *ngIf="responseError?.last_name">{{responseError?.last_name}}</div>
                </div>

                <div class="form-group"
                     [class.has-warning]="responseError?.country ? true: false"
                     [class.has-feedback]="responseError?.country ? true: false">
                  <label for="exampleInputEmail1">Country</label>
                  <select class="form-control"  [(ngModel)]="country.id" name="country" id="country">
                    <option value="" selected>Select</option>
                    <option *ngFor="let countryList of countryListResponse" [value]="countryList.id">{{countryList.country_name}}</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="responseError?.country">{{responseError?.country}}</div>
                </div>

                <div class="form-group"
                     [class.has-warning]="responseError?.country ? true: false"
                     [class.has-feedback]="responseError?.country ? true: false">
                  <label for="exampleInputEmail1">Assigned Country</label>
                  <select class="form-control"  [(ngModel)]="assigned_country.id" name="assigned_country" id="assigned_country">
                    <option value="" selected>Select</option>
                    <option *ngFor="let countryList of countryListResponse" [value]="countryList.id">{{countryList.country_name}}</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="responseError?.country">{{responseError?.country}}</div>
                </div>

                <div class="form-group"
                     [class.has-warning]="responseError?.mobile ? true: false"
                     [class.has-feedback]="responseError?.mobile ? true: false">
                  <label for="exampleInputEmail1">Mobile</label>
                  <input required type="text" class="form-control" [(ngModel)]="mobile" name="mobile" id="mobile" placeholder="Enter Mobile">
                  <div class="alert alert-danger" *ngIf="responseError?.mobile">{{responseError?.mobile}}</div>
                </div>
                <div class="form-group"
                     [class.has-warning]="responseError?.address ? true: false"
                     [class.has-feedback]="responseError?.address ? true: false">
                  <label for="exampleInputPassword1">Address</label>
                  <textarea required class="form-control" [(ngModel)]="address" name="address" id="address" placeholder="Enter address"></textarea>
                  <div class="alert alert-danger" *ngIf="responseError?.address">{{responseError?.address}}</div>
                </div>
                <div class="form-group"
                     [class.has-warning]="responseError?.access ? true: false"
                     [class.has-feedback]="responseError?.access ? true: false">
                  <label for="select">Access</label>
                  <select id="select" class="form-control" name="access" id="access" [(ngModel)]="access">
                    <option value="">Select</option>
                    <option *ngFor="let access of userAccessLevel" [value]="access.id">{{access.description}}</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="responseError?.access">{{responseError?.access}}</div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
