/* You can add global styles to this file, and also import other style files */
@media (min-width: 992px) {
  .custom-col-md-4 {
    width: 30.333333%;
  }
}

.form-inline .form-group {
  vertical-align: top;
}

.error-sign {
  float: left;
  margin-top: 7px;
  margin-right: 1%;
}
.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}
.static_container_dropdown{
  position: absolute;
  z-index: 1;
  width: 20%;
  height: 200px;
  max-height: 300px;
  background-color: ghostwhite;
  top: 80%;
  overflow-y: auto;
}
.static{
  padding: 15px;
}
.static:hover{
  background-color: #c2c2c2;
}

.custome_search_width{
  width:20%;
  float: left;
  margin-right: 2%;
}
.content-wrapper{
  min-height: 590px !important;
}
.dataTables_wrapper{
  padding: 2% 3%;
}
