
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Create
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="/user-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Data Create</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                  <label for="email">Date</label>
                  <input type="text" id="defaultDate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="Similar_Type">Similar Type</label>
                  <input type="text" id="form_type" class="form-control" placeholder="Similar type" name="form_type"
                         [(ngModel)]="form_type">
                  <button type="button" class="btn btn-sm" (click)="copyForm($event)"><i class="fa fa-plus"></i>
                  </button>
                </div>
              </form>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body" *ngFor="let fields of remittanceWelfare; let i = index">
              <form>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.previous_balance ? true: false"
                  [class.has-feedback]="responseError?.previous_balance ? true: false">
                  <label for="previous_balance">Previous balance</label>
                  <input type="text"
                         name="previous_balance"
                         [(ngModel)]="fields.previous_balance"
                         id="previous_balance"
                         class="form-control"
                         placeholder="Previous balance">
                  <div class="error-message" *ngIf="responseError?.previous_balance">
                    {{responseError?.previous_balance}}
                  </div>
                </div>
                <div
                  class="form-group"
                  [class.has-warning]="responseError?.lastmonth_income ? true: false"
                  [class.has-feedback]="responseError?.lastmonth_income ? true: false">
                  <label for="lastmonth_income">Lastmonth Income</label>
                  <input type="text"
                         name="lastmonth_income"
                         [(ngModel)]="fields.lastmonth_income"
                         id="lastmonth_income"
                         class="form-control"
                         placeholder="Lastmonth income">
                  <div class="error-message" *ngIf="responseError?.lastmonth_income">
                    {{responseError?.lastmonth_income}}
                  </div>

                </div>
                <div class="form-group">
                  <label for="amount_of_remittance">Amount of remittance</label>
                  <input type="text"
                         name="amount_of_remittance"
                         [(ngModel)]="fields.amount_of_remittance"
                         id="amount_of_remittance"
                         class="form-control"
                         placeholder="amount_of_remittance">
                </div>
                <button type="button" class="btn btn-primary form_submit"
                        (click)="onFormSubmit(fields, similarTypes[i])">Submit
                </button>
              </form>
            </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
